# NPCM4XX Virtual Wire GPIO driver configuration options

# Copyright (c) 2023 Nuvoton Technology Corporation.
# SPDX-License-Identifier: Apache-2.0

config GPIO_NPCM4XX_VW
	bool "Nuvoton NPCM4XX eSPI Virtual Wire GPIO driver"
	depends on SOC_FAMILY_NPCM4XX
	depends on ESPI
	help
	  This option enables the eSPI Virtual Wire GPIO driver for
	  NPCM4XX family of processors. Virtual Wire GPIOs are mapped
	  through the eSPI virtual wire channel (VWGPSM/VWGPMS registers).
	  Say y if you wish to use Virtual Wire GPIO on NPCM4XX MCU.

config GPIO_NPCM4XX_VW_INIT_PRIORITY
	int "NPCM4XX Virtual Wire GPIO init priority"
	depends on GPIO_NPCM4XX_VW
	default 61
	help
	  Device driver initialization priority for Virtual Wire GPIO.
	  Must be initialized after eSPI controller.
