# Copyright (c) 2026 Nuvoton Technology Corporation.
# SPDX-License-Identifier: Apache-2.0

config I3C_NPCM4
	bool "Nuvoton NPCM400 I3C driver"
	depends on SOC_FAMILY_NPCM4XX
	help
	  Enable the Nuvoton NPCM400 I3C driver.
