/*
 * Copyright (c) 2024 Nuvoton Technology Corporation.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <arm/armv7-m.dtsi>

/* Macros for device tree declarations of npcm soc family */
#include <zephyr/dt-bindings/clock/npcm_clock.h>
#include <zephyr/dt-bindings/flash_controller/npcm_qspi.h>
#include <zephyr/dt-bindings/i2c/i2c.h>
#include <zephyr/dt-bindings/pinctrl/npcm-pinctrl.h>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/gpio/nuvoton-npcm-gpio.h>
#include <zephyr/dt-bindings/adc/npcm_adc.h>
#include <freq.h>

/ {
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-m4";
			reg = <0>;
		};
	};

	soc {
		mdc: mdc@4000c000 {
			compatible = "syscon";
			reg = <0x4000c000 0xa>;
			reg-io-width = <1>;
		};

		mdc_header: mdc@4000c00a {
			compatible = "syscon";
			reg = <0x4000c00a 0x4>;
			reg-io-width = <2>;
		};

		pcc: clock-controller@4000d000 {
			compatible = "nuvoton,npcm-pcc";
			/* Cells for clock id */
			#clock-cells = <1>;
			/* First reg region is Power Management Controller */
			/* Second reg region is Core Domain Clock Generator */
			reg = <0x4000d000 0x2000
				   0x400b5000 0x2000>;
			reg-names = "pmc", "cdcg";
		};

		rstc: rstc@100c7f00 {
			compatible = "nuvoton,npcm-rstc";
			reg = <0x100c7f00 0x84>;
		};

		pinctrl: pinctrl@400c3000 {
			compatible = "nuvoton,npcm-pinctrl";
			/* First reg region is System Configuration Device */
			/* Second reg region is System Glue Device */
			reg = <0x400c3000 0x7C
				   0x400a5000 0x2000>;
			reg-names = "scfg", "glue";
			#address-cells = <1>;
			#size-cells = <1>;

			gpio0: gpio@40081000 {
				compatible = "nuvoton,npcm-gpio";
				reg = <0x40081000 0x2000>;
				gpio-controller;
				ngpios = <8>;
				nuvoton,index = <0x0>;
				nuvoton,gpio-wui-maps = <0>;
				#gpio-cells=<2>;
			};

			gpio1: gpio@40083000 {
				compatible = "nuvoton,npcm-gpio";
				reg = <0x40083000 0x2000>;
				gpio-controller;
				ngpios = <8>;
				nuvoton,index = <0x1>;
				nuvoton,gpio-wui-maps = <0>;
				#gpio-cells=<2>;
			};

			gpio2: gpio@40085000 {
				compatible = "nuvoton,npcm-gpio";
				reg = <0x40085000 0x2000>;
				gpio-controller;
				ngpios = <8>;
				nuvoton,index = <0x2>;
				nuvoton,gpio-wui-maps = <0>;
				#gpio-cells=<2>;
			};

			gpio3: gpio@40087000 {
				compatible = "nuvoton,npcm-gpio";
				reg = <0x40087000 0x2000>;
				gpio-controller;
				ngpios = <8>;
				nuvoton,index = <0x3>;
				nuvoton,gpio-wui-maps = <0>;
				#gpio-cells=<2>;
			};

			gpio4: gpio@40089000 {
				compatible = "nuvoton,npcm-gpio";
				reg = <0x40089000 0x2000>;
				gpio-controller;
				ngpios = <8>;
				nuvoton,index = <0x4>;
				nuvoton,gpio-wui-maps = <0>;
				#gpio-cells=<2>;
			};

			gpio5: gpio@4008b000 {
				compatible = "nuvoton,npcm-gpio";
				reg = <0x4008b000 0x2000>;
				gpio-controller;
				ngpios = <8>;
				nuvoton,index = <0x5>;
				nuvoton,gpio-wui-maps = <0>;
				#gpio-cells=<2>;
			};

			gpio6: gpio@4008d000 {
				compatible = "nuvoton,npcm-gpio";
				reg = <0x4008d000 0x2000>;
				gpio-controller;
				ngpios = <8>;
				nuvoton,index = <0x6>;
				nuvoton,gpio-wui-maps = <0>;
				#gpio-cells=<2>;
			};

			gpio7: gpio@4008f000 {
				compatible = "nuvoton,npcm-gpio";
				reg = <0x4008f000 0x2000>;
				gpio-controller;
				ngpios = <8>;
				nuvoton,index = <0x7>;
				nuvoton,gpio-wui-maps = <0>;
				#gpio-cells=<2>;
			};

			gpio8: gpio@40091000 {
				compatible = "nuvoton,npcm-gpio";
				reg = <0x40091000 0x2000>;
				gpio-controller;
				ngpios = <8>;
				nuvoton,index = <0x8>;
				nuvoton,gpio-wui-maps = <0>;
				#gpio-cells=<2>;
			};

			gpio9: gpio@40093000 {
				compatible = "nuvoton,npcm-gpio";
				reg = <0x40093000 0x2000>;
				gpio-controller;
				ngpios = <8>;
				nuvoton,index = <0x9>;
				nuvoton,gpio-wui-maps = <0>;
				#gpio-cells=<2>;
			};

			gpioa: gpio@40095000 {
				compatible = "nuvoton,npcm-gpio";
				reg = <0x40095000 0x2000>;
				gpio-controller;
				ngpios = <8>;
				nuvoton,index = <0xA>;
				nuvoton,gpio-wui-maps = <0>;
				#gpio-cells=<2>;
			};

			gpiob: gpio@40097000 {
				compatible = "nuvoton,npcm-gpio";
				reg = <0x40097000 0x2000>;
				gpio-controller;
				ngpios = <8>;
				nuvoton,index = <0xB>;
				nuvoton,gpio-wui-maps = <0>;
				#gpio-cells=<2>;
			};

			gpioc: gpio@40099000 {
				compatible = "nuvoton,npcm-gpio";
				reg = <0x40099000 0x2000>;
				gpio-controller;
				ngpios = <8>;
				nuvoton,index = <0xC>;
				nuvoton,gpio-wui-maps = <0>;
				#gpio-cells=<2>;
			};

			gpiod: gpio@4009b000 {
				compatible = "nuvoton,npcm-gpio";
				reg = <0x4009b000 0x2000>;
				gpio-controller;
				ngpios = <8>;
				nuvoton,index = <0xD>;
				nuvoton,gpio-wui-maps = <0>;
				#gpio-cells=<2>;
			};

			gpioe: gpio@4009d000 {
				compatible = "nuvoton,npcm-gpio";
				reg = <0x4009d000 0x2000>;
				gpio-controller;
				ngpios = <7>;
				nuvoton,index = <0xE>;
				nuvoton,gpio-wui-maps = <0>;
				#gpio-cells=<2>;
			};

			gpiof: gpio@4009f000 {
				compatible = "nuvoton,npcm-gpio";
				reg = <0x4009f000 0x2000>;
				gpio-controller;
				ngpios = <4>;
				nuvoton,index = <0xF>;
				nuvoton,gpio-wui-maps = <0>;
				#gpio-cells=<2>;
			};

			miwu0: miwu@400bb000 {
				compatible = "nuvoton,npcm-miwu";
				reg = <0x400bb000 0x2000>;
				nuvoton,index = <0>;
			};

			miwu1: miwu@400bd000 {
				compatible = "nuvoton,npcm-miwu";
				reg = <0x400bd000 0x2000>;
				nuvoton,index = <1>;
			};

			miwu2: miwu@400bf000 {
				compatible = "nuvoton,npcm-miwu";
				reg = <0x400bf000 0x2000>;
				nuvoton,index = <2>;
			};
		};

		uart1: serial@400c4000 {
			compatible = "nuvoton,npcm-uart";
			reg = <0x400c4000 0x100>;
			interrupts = <23 3>;
			clocks = <&pcc NPCM_CLOCK_UART>;
			status = "disabled";
		};

		uart2: serial@400c4200 {
			compatible = "nuvoton,npcm-uart";
			reg = <0x400c4200 0x100>;
			interrupts = <76 3>;
			clocks = <&pcc NPCM_CLOCK_UART2>;
			status = "disabled";
		};

		twd: watchdog@400d8000 {
			compatible = "nuvoton,npcm-watchdog";
			reg = <0x400d8000 0x100>;
			nuvoton,timer0-wui = <NPCM_MIWU1_GROUPE_T0OUT>;
		};

		dsadc: adc@400d1100 {
			compatible = "nuvoton,npcm-adc";
			#io-channel-cells = <1>;
			reg = <0x400d1100 0xf00>;
			interrupts = <21 3>;
			clocks = <&pcc NPCM_CLOCK_ADC>;
			status = "disabled";
		};

		qspi_spim0: quad-spim@40017000 {
			compatible = "nuvoton,npcm-spim-qspi";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x40017000 0x100>;
		};

		qspi_fiu0: quad-fiu@40020000 {
			compatible = "nuvoton,npcm-fiu-qspi";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x40020000 0x2000>;
		};

		spip0: spi@40016000 {
			compatible = "nuvoton,npcm-spip";
			reg = <0x40016000 0x100>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c1a: i2c_a@40006000 {
			compatible = "nuvoton,npcm-i2c";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x40006000 0x200>;
			interrupts = <35 3>;
			clocks = <&pcc NPCM_CLOCK_SMB1>;
			status = "disabled";
		};

		i2c2a: i2c_a@40006200 {
			compatible = "nuvoton,npcm-i2c";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x40006200 0x200>;
			interrupts = <0 3>;
			clocks = <&pcc NPCM_CLOCK_SMB2>;
			status = "disabled";
		};

		i2c3a: i2c_a@40006400 {
			compatible = "nuvoton,npcm-i2c";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x40006400 0x200>;
			interrupts = <37 3>;
			clocks = <&pcc NPCM_CLOCK_SMB3>;
			status = "disabled";
		};

		i2c4a: i2c_a@40006600 {
			compatible = "nuvoton,npcm-i2c";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x40006600 0x200>;
			interrupts = <38 3>;
			clocks = <&pcc NPCM_CLOCK_SMB4>;
			status = "disabled";
		};

		i2c5a: i2c_a@40006800 {
			compatible = "nuvoton,npcm-i2c";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x40006800 0x200>;
			interrupts = <39 3>;
			clocks = <&pcc NPCM_CLOCK_SMB5>;
			status = "disabled";
		};

		i2c6a: i2c_a@40006a00 {
			compatible = "nuvoton,npcm-i2c";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x40006a00 0x200>;
			interrupts = <20 3>;
			clocks = <&pcc NPCM_CLOCK_SMB6>;
			status = "disabled";
		};

		i2c7a: i2c_a@40006c00 {
			compatible = "nuvoton,npcm-i2c";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x40006c00 0x200>;
			interrupts = <70 3>;
			clocks = <&pcc NPCM_CLOCK_SMB7>;
			status = "disabled";
		};

		i2c8a: i2c_a@40006e00 {
			compatible = "nuvoton,npcm-i2c";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x40006e00 0x200>;
			interrupts = <71 3>;
			clocks = <&pcc NPCM_CLOCK_SMB8>;
			status = "disabled";
		};

		i2c9a: i2c_a@40007000 {
			compatible = "nuvoton,npcm-i2c";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x40007000 0x200>;
			interrupts = <72 3>;
			clocks = <&pcc NPCM_CLOCK_SMB9>;
			status = "disabled";
		};

		i2c10a: i2c_a@40007200 {
			compatible = "nuvoton,npcm-i2c";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x40007200 0x200>;
			interrupts = <73 3>;
			clocks = <&pcc NPCM_CLOCK_SMB10>;
			status = "disabled";
		};

		i2c11a: i2c_a@40007400 {
			compatible = "nuvoton,npcm-i2c";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x40007400 0x200>;
			interrupts = <74 3>;
			clocks = <&pcc NPCM_CLOCK_SMB11>;
			status = "disabled";
		};

		i2c12a: i2c_a@40007600 {
			compatible = "nuvoton,npcm-i2c";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x40007600 0x200>;
			interrupts = <75 3>;
			clocks = <&pcc NPCM_CLOCK_SMB12>;
			status = "disabled";
		};

		i2c1b: i2c_b@40006000 {
			compatible = "nuvoton,npcm-i2c";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x40006000 0x200>;
			interrupts = <35 3>;
			clocks = <&pcc NPCM_CLOCK_SMB1>;
			status = "disabled";
		};

		i2c4b: i2c_b@40006600 {
			compatible = "nuvoton,npcm-i2c";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x40006600 0x200>;
			interrupts = <38 3>;
			clocks = <&pcc NPCM_CLOCK_SMB4>;
			status = "disabled";
		};

		i2c6b: i2c_b@40006a00 {
			compatible = "nuvoton,npcm-i2c";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x40006a00 0x200>;
			interrupts = <20 3>;
			clocks = <&pcc NPCM_CLOCK_SMB6>;
			status = "disabled";
		};

		c2h: c2h@4000e000{
			compatible = "nuvoton,npcm-c2h";
			reg = <0x4000e000 0x2000>;
		};

		i3c1: i3c@40004000 {
			compatible = "nuvoton,npcm-i3c";
			reg-names = "i3c1", "pdma0", "pdma1";
			reg = <0x40004000 0x2000
			       0x40015000 0x10
			       0x40015010 0x10>;
			clocks = <&pcc NPCM_CLOCK_I3CI>;
			interrupts = <64 3>;
			status = "disabled";
			#address-cells = <3>;
			#size-cells = <0>;
		};

		i3c2: i3c@40004200 {
			compatible = "nuvoton,npcm-i3c";
			reg-names = "i3c2", "pdma2", "pdma3";
			reg = <0x40004200 0x2000
			       0x40015020 0x10
			       0x40015030 0x10>;
			clocks = <&pcc NPCM_CLOCK_I3CI2>;
			interrupts = <65 3>;
			status = "disabled";
			#address-cells = <3>;
			#size-cells = <0>;
		};

		i3c3: i3c@40004400 {
			compatible = "nuvoton,npcm-i3c";
			reg-names = "i3c3", "pdma4", "pdma5";
			reg = <0x40004400 0x2000
			       0x40015040 0x10
			       0x40015050 0x10>;
			clocks = <&pcc NPCM_CLOCK_I3CI3>;
			interrupts = <66 3>;
			status = "disabled";
			#address-cells = <3>;
			#size-cells = <0>;
		};

		i3c4: i3c@40004600 {
			compatible = "nuvoton,npcm-i3c";
			reg-names = "i3c4", "pdma6", "pdma7";
			reg = <0x40004600 0x2000
			       0x40015060 0x10
			       0x40015070 0x10>;
			clocks = <&pcc NPCM_CLOCK_I3CI4>;
			interrupts = <67 3>;
			status = "disabled";
			#address-cells = <3>;
			#size-cells = <0>;
		};

		i3c5: i3c@40004800 {
			compatible = "nuvoton,npcm-i3c";
			reg-names = "i3c5", "pdma8", "pdma9";
			reg = <0x40004800 0x2000
			       0x40015080 0x10
			       0x40015090 0x10>;
			clocks = <&pcc NPCM_CLOCK_I3CI5>;
			interrupts = <68 3>;
			status = "disabled";
			#address-cells = <3>;
			#size-cells = <0>;
		};

		i3c6: i3c@40004a00 {
			compatible = "nuvoton,npcm-i3c";
			reg-names = "i3c6", "pdma10", "pdma11";
			reg = <0x40004a00 0x2000
			       0x400150a0 0x10
			       0x400150b0 0x10>;
			clocks = <&pcc NPCM_CLOCK_I3CI6>;
			interrupts = <69 3>;
			status = "disabled";
			#address-cells = <3>;
			#size-cells = <0>;
		};
	};
};

&nvic {
	arm,num-irq-priority-bits = <3>;
};
